<div class="marketcard">
    <div class="card" sytle="width:320px">
        <div class="row" id="service{{_id}}">
            <div class="card float-right">
                <div class="row">
                    <div class="col-sm-5">
                        <img id="user-photo-market" src="{{seller.image}}" alt="">
                    </div>
                    <div class="col-sm-7">
                        <div class="card-block">
                            <div class="col-md-11">
                                <div class="card-block">
                                    <h6 class="serviceName"> {{seller.username}}</h6>
                                    <h6 class="serviceName">{{service}}</h6>
                                    <p class="description">{{description}}<button class="readMore" id="toggle">Read
                                            More</button></p>

                                </div>
                                <div class="addbtn">
                                    <button onclick="checkoutButton('{{_id}}')" id="checkout-button" class="btn abtn btn-primary btn-sm btn-block">Add</button>
                                </div>
                                <div class="col-md-1 likebtn">
                                    <button onclick="like(this)" {{#if disabled}}disabled{{/if}}
                                        data-serviceid="{{_id}}"
                                        class="likes {{#unless likedByUser}}unliked{{/unless}}">⭐<span>{{likeCount}}</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
