<div class="marketcard" id="{{_id}}">
    <div class="card" sytle="width:320px">
        <div class="row">
                <div class="card float-right">
                    <div class="row">
                        <div class="col-sm-5">
                            <img id="user-photo-market" src="{{seller.image}}" alt="{{seller.username}}">
                        </div>
                        <div class="col-sm-7">
                            <div class="card-block">
                                <div class="col-md-11">
                                    <div class="card-block">
                                        <h6 class="servicerName"> {{seller.username}}</h6>
                                        <h6 class="serviceName">{{service}}</h6>
                                         <h6 class="servicePrice">$ {{price}}</h6>
                                        <p class="addReadMore showlesscontent description">{{description}}</p>
                                    </div>
                                     <div class="addbtn">
                                         <button onclick="cancelCard('{{_id}}')" class="btn abtn btn-primary btn-sm btn-block">Cancel</button>
                                          <a href="/service/{{_id}}/access" class="btn abtn btn-primary btn-sm btn-block">View</a>
                                     </div>
                               </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>
</div>