<div class="container market">
    <div class="card marketCard" style="width: 350px;" id="service{{_id}}">
        <div class="row no-gutters">
            <div class="userservice col-sm-5">
                <img id="user-photo" src="{{currentUser.image}}" alt="Suresh Dasari Card">
            </div>
            <div class="usertext col-sm-7">
                <div class="card-body">
                    <h6 class="service">{{service}}</h6>
                    <h6 class="description">{{description}}</h6>
                    <div class="chatbtn register-btm register-button">
                        <button type="submit" class="btn btn-primary btn-sm btn-block">Add</button>
                        <button onclick="like(this)" {{#if disabled}}disabled{{/if}} data-serviceid="{{_id}}" class="likes {{#unless likedByUser}}unliked{{/unless}}">⭐<span>{{likeCount}}</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>