<!--<div class="perfil">
    <div class='container'>
        <h1>We are glad to see you again!</h1>
        <h2>{{currentUser.username}}</h2>
        <p class="data">Your data session: </p>
        <div id="info">
            <ul>
                <li>Tu usuario es: {{currentUser.username}}</li>
                <li>Tu email es: {{currentUser.email}}</li>
            </ul>
            <div>
                <a class="btn btn-profile btn-primary sm-col my-3" href="/main" role="button">Main Page</a>
                <a class="btn btn-profile btn-primary sm-col my-3" href="/private" role="button">Private page</a>

            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row profile">
        <div class="col-lg-3 col-md-2">
            <div class="col-lg-6 col-md-8 profile-box">
                <form action="/profile" method="POST" enctype="multipart/form-data">
                    <div class="col-lg-10 profile-form">
                        <div class="col-lg-12 profile-form">

                            <div class="profilepicture">
                                <div class="avatarWrapper">
                                    <div class="avatar cursor-pointer">
                                        <div class="uploadOverlay"><span id="btn-foto" class="fa fa-cloud-upload" onclick="document.getElementById('file').click()"></span>
                                           <input type="file" onchange="readURL(this, 'user-photo')" id="file" name="image" hidden>
                                            {{#if currentUser.image}}
                                            <img id="user-photo" src="{{currentUser.image}}">
                                            {{else}}
                                            <img id="user-photo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/20625/avatar-bg.png">
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class="form-control-label">EMAIL</label>
                                <h4 class="emailprofile">{{currentUser.email}}</h4>
                               <!-- <input value="{{currentUser.email}}" minlength="2" maxlength="15" name="e-mail"
                                    id="e-mail" class="form-control" disabled> -->
                            </div>
                            <div class="form-group">
                                <label for="username" class="form-control-label">USERNAME</label>
                                <input value="{{currentUser.username}}" type="text" minlength="2" maxlength="15" name="username" class="form-control"
                                    placeholder="Username">
                            </div>
                            <!-- <div class="form-group">
                                <label for="birthday" class="form-control-label">Birthday</label>
                                <input  value="{{currentUser.birthday}}" type="date" id="birthday" minlength="2" maxlength="15" name="birthday"
                                    class="form-control">
                            </div> -->
                            <div class="col-lg-6 login-btm profile-button">
                                <button type="submit" class="btn btn-primary">Save!</button>
                            </div>

                        </div>
                    </div>
                </form>
                <div class="col-lg-3 col-md-2">   </div>
            </div>
        </div>
    </div>
</div>